/* -------------------------GERAL--------------------------- */

:root {
  --purple-light: #8968d4;
  --purple-light2: #8257E5;
  --purple-medium: #6F4Bc4;
  --purple-dark: #442E78;
  --pink: #a11886;
  --white: #FFF;
  --reactJS: #2AC7E3;
  --nodeJS: #8CC84B;
  --reactnative: #4763FF;

  font-size: 62.5%; /* 1rem = 10px */
  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--purple-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  padding-block: 4rem;
}

/* -------------------------BUTTON--------------------------- */

.button {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 17px;
  background: transparent;
  border: none;
  position: relative;
  color: white;
  z-index: 1;
 }
 
 .button::after,
  .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
 }
 
 .button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--purple-dark);
  border-radius: 50px;
 }
 
 .button::after {
  transform: translate(0px, 0px);
  width: 10px;
  height: 10px;
  background: var(--pink);
  backdrop-filter: blur(5px);
  border-radius: 50px;
 }
 
 .button:hover::before {
  transform: translate(5%, 20%);
  width: 10px;
  height: 10px;
 }
 
 .button:hover::after {
  border-radius: 50px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
 }
 
 .button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
 }
 
 /* -------------------------HEADER---------------------------- */

#navigation {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index:100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--purple-dark);
}

 #openMenuButton {
   width: 2.5rem;
 }

 nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu, nav .close-menu {
  position: fixed;
}

/* ===== MENU EXPANDED ================================== */

body.menu-expanded {
  overflow: hidden; /* para sumir a barra de scroll */
}

body.menu-expanded > :not(nav) { /* selecionando todas as folhas abaixo do menu-expanded exceto o nav*/
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%); /* para ficar 100% abaixo da vh */
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  background: var(--primary-color);

  transition: transform 300ms;
  transform: translateY(0); /* esse transition e transform irá fazer com que o .menu volte à posição 0 do eixo Y quando o menu for aberto*/
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-block: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--white);
  text-decoration: none;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

/* -------------------------HOME--------------------------- */

#home {
 margin-top: var(--nav-height);
}

#home h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: var(--purple-dark);
  margin-bottom: 2.4rem;
  line-height: 130%;
  padding-top: 4rem;
}

#home p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  line-height: 150%;
  margin-bottom: 4rem;
}

#home img {
  max-width: 100%;
  margin-top: 3rem;
  display: block;
}

/* -------------------------SCOLARSHIPS--------------------------- */

#scholarships {
  padding-top: 4rem;
  background-color: var(--purple-light2);
}

#scholarships h2 {
  font-size: 5rem;
  color: var(--white); 
  margin-block: 3rem;
}

#scholarships p#subtitle {
  font-size: 1.8rem;
}

#scholarships p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  line-height: 150%;
  margin: 3rem;
}

#scholarships .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 5rem;
}

#scholarships .card {
  padding: 2.4rem;
  text-align: center;
  background: var(--purple-dark);
  border-radius: .6rem;
  border: 2px solid var(--pink);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px var(--purple-medium);
}

#scholarships .card:hover {
  box-shadow: -12px 12px 2px -1px var(--purple-medium);
}

#scholarships .card h3 {
  color: var(--white); 
  margin-block: 1.6rem;
  font-size: 2.5rem;
}

#scholarships span#reactJS {
  color: var(--reactJS); 
}

#scholarships span#nodeJS {
  color: var(--nodeJS); 
}

#scholarships span#reactNative {
  color: var(--reactnative); 
}

/* ----------------------------FAQ------------------------------ */

#faq {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

#faq h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: var(--pink); 
  margin-bottom: 3rem;
  padding-top: 4rem;
}

#faq article.boxQuestions {
  border:2px solid var(--pink);
  border-radius: 2rem;
  background-color: var(--white);
  padding: 2rem 3rem;
  cursor: pointer;
}

#faq article.boxQuestions:hover {
  box-shadow: -6px 6px 2px -1px var(--purple-dark);
}

#faq h4.questions {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: var(--purple-dark); 
}

#faq p.answers {
  display:none;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--pink);
  line-height: 150%;
  margin-top: 1rem;
}

#faq .boxQuestions.active p.answers {
  display: block;
}

/* ----------------------------FORM------------------------------ */

#form {
  background-color: var(--purple-light2);
}

#form h3 {
  font-size: 3.5rem;
  color: var(--purple-dark); 
  margin-block: 3rem;
}

#form h4 {
  font-size: 2rem;
  color: var(--pink); 
  margin-block: 3rem;
}

#form fieldset {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-light);
}

#form legend {
  font-family: 'Oswald', sans-serif;
  color: var(--white);
  font-size: 3rem;
}

#form .input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: var(--purple-dark);
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
 }
 
 #form .input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: var(--pink);
 }
 
 #form .input::placeholder {
  color: var(--purple-dark);
  font-weight: 700;
 }
 
 #form .input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 
 #form label {
   color: var(--purple-dark);
   font-weight: 700;
 }

#form .checkbox {
  padding-inline: 1.5rem;
}

 #form select {
   border: 2px solid var(--purple-dark);
   padding: 0.5rem;
   color: var(--purple-dark);
 }

 #form select:focus {
  border: 2px solid var(--pink);
  padding: 0.5rem;
  color: var(--purple-dark);
}

/* ----------------------------FOOTER------------------------------ */


#contact #contactBox {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

#contact #conectaelasContact, #contact #rocketseatContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contactIcons {
  display:flex;
  flex-direction: row;
  gap: 1.5rem
}

#contact .contactIcons a img {
  width: 2.5rem;
  height: 2.5rem;
}

#contact p {
  font-family: 'Roboto Mono', monospace;
  color: var(--pink);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom:3rem;
}

