/* -------------------------GERAL--------------------------- */

:root {
  --purple-light: #8968d4;
  --purple-light2: #8257E5;
  --purple-medium: #6F4Bc4;
  --purple-dark: #442E78;
  --green-light: #76e4c3;
  --green-medium: #00BA83;
  --green-dark: #00875F;
  --pink: #a11886;
  --pink-light: #a1368c;
  --white: #FFF;
  --reactJS: #2AC7E3;
  --nodeJS: #8CC84B;
  --reactnative: #4763FF;

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--purple-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  padding-block: 5rem
}

/* -------------------------BUTTON--------------------------- */

.button {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 17px;
  background: transparent;
  border: none;
  position: relative;
  color: white;
  z-index: 1;
 }
 
 .button::after,
  .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
 }
 
 .button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--purple-dark);
  border-radius: 50px;
 }
 
 .button::after {
  transform: translate(0px, 0px);
  width: 10px;
  height: 10px;
  background: var(--pink);
  backdrop-filter: blur(5px);
  border-radius: 50px;
 }
 
 .button:hover::before {
  transform: translate(5%, 20%);
  width: 10px;
  height: 10px;
 }
 
 .button:hover::after {
  border-radius: 50px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
 }
 
 .button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
 }
 
/* -------------------------HOME--------------------------- */

#home h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: var(--purple-dark);
  margin-bottom: 2.4rem;
  line-height: 130%;
}

#home p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  line-height: 150%;
  margin-bottom: 4rem;
}

#home img {
  max-width: 100%;
  margin-top: 3rem;
  display: block;
}

/* -------------------------SCOLARSHIPS--------------------------- */

#scholarships {
  background-color: var(--purple-light2);
}

#scholarships h2 {
  font-size: 5rem;
  color: var(--white); 
  margin-block: 3rem;
}

#scholarships p#subtitle {
  font-size: 1.8rem;
}

#scholarships p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  line-height: 150%;
  margin: 3rem;
}

#scholarships .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 5rem;
}

#scholarships .card {
  padding: 2.4rem;
  text-align: center;
  background: var(--purple-dark);
  border-radius: .6rem;
  border: 2px solid var(--pink);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px var(--purple-medium);
}

#scholarships .card:hover {
  box-shadow: -12px 12px 2px -1px var(--purple-medium);
}

#scholarships .card h3 {
  color: var(--white); 
  margin-block: 1.6rem;
  font-size: 2.5rem;
}

#scholarships span#reactJS {
  color: var(--reactJS); 
}

#scholarships span#nodeJS {
  color: var(--nodeJS); 
}

#scholarships span#reactNative {
  color: var(--reactnative); 
}

/* ----------------------------FAQ------------------------------ */

#faq {
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

#faq h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: var(--pink); 
  margin-bottom: 3rem;
}

#faq article.boxQuestions {
  border:2px solid var(--pink);
  border-radius: 2rem;
  background-color: var(--purple-medium);
  padding: 2rem 3rem;
  cursor: pointer;
}

#faq article.boxQuestions:hover {
  box-shadow: -6px 6px 2px -1px var(--purple-dark);
}

#faq h4.questions {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: var(--purple-dark); 
}

#faq p.answers {
  display:none;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
  line-height: 150%;
  margin-top: 1rem;
}

#faq .boxQuestions.active p.answers {
  display: block;
}

/* ----------------------------FORM------------------------------ */

#form {
  background-color: var(--purple-light2);
}

#form h3 {
  font-size: 3.5rem;
  color: var(--purple-dark); 
  margin-block: 3rem;
}

#form h4 {
  font-size: 2rem;
  color: var(--pink); 
  margin-block: 3rem;
}

